{% extends 'govuk_template.html' %}

{% block phase_banner %}
    <div class="phase-banner">
        <p>
            <strong class="phase-tag" style="background-color:#b10e1e">WARNING</strong>
            <span>{% block phase_banner_message %}This website is for testing only{% endblock %}</span>
        </p>
    </div>
{% endblock %}

{% block inner_content %}
    <div class="grid-row">
        <div class="column-two-thirds">
            {% block poll_contents %}{% endblock %}
        </div>
    </div>
{% endblock %}
